/* Write your styles */
body{
    background:#f3f3f3;
    overflow-x: hidden;
}
.am-header-box-shadow{
    box-shadow:0 0 6px #ccc;
}
.am-header-default{
    margin-bottom: 4px;
    padding: 0;
    background-color: #fff !important;
}
.am-text-color{
    color: #0e90d2 !important;
}
.am-text-size {
    font-size: 1.2rem
}
.am-text-align-left{
    text-align: left;
}
.am-text-align-right{
    text-align: right;
}
.am-text-align-center{
    text-align: center;
}
.am-nav-btn{
    background: #fff;
    color:#4998f4 !important;
    border:none !important;
}
.am-menu-bg{
    background: url(../images/menu-icon.png) center center no-repeat ;
}
.am-message-box{
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  right: 0.1rem;
}
.am-message-box img{
    max-width: 100%;
    max-height: 100%;
    float: left;
}
.am-pistols-menu{
    width: 100%;
    background: #fff;
    margin: 1rem 0;

}
.am-pistols-menu>ul>li>a{
    position: relative;
    display:block;
}
.am-pistols-menu>ul>li>a>span{
    position: absolute;
    right: 0;
    top: 0;
}
.am-pistols-menu>ul>li>a>.am-thumbnail{
      margin: 1rem auto;
}
.am-pistols-menu>ul>li>p{
    margin: 0 ;
    text-align: center;
    font-size: 1.4rem;
    color:#555454;
    padding: 0.5rem 0;
}

.am-shop-menu{
    background: #fff;
}
.am-shop-menu>ul>li{
    padding: 0 .5rem;
}
.am-shop-menu>ul>li>.am-thumbnail{
      margin: 1rem auto 0 auto;
}

.am-navbar-user{
    width: 100%;
    height: auto;
    padding: 1.5rem 1rem ;
}
.am-navbar-user>div>img{
    max-width: 100%;
}
.am-navbar-news{
    padding-left: 40px !important;
    color: #4998f4 !important;
    background: url(../images/info-icon.png) 15px center no-repeat;
}
.am-menu-sub{

}
.am-menu-sub>li{
    padding-left: 1.8rem;
    background:url(../images/text-go-icon.png) left center no-repeat;
}
.am-menu-sub>li>a{
    width: 100%;
    text-overflow:ellipsis;
    white-space:nowrap;
    *white-space:nowrap;
    overflow:hidden;
    color: #8c8b8b;
}
.am-shop-menu>ul>li>a{
    display:block;
    position: relative;
}
.am-shop-menu>ul>li>a>img{
   margin: 1rem auto !important;
}


/*现货买卖页面*/
.am-nav-pulldown{
    padding: 0 1rem;
}
.am-nav-pulldown .am-g-fixed div a{
    padding: 0 1.2rem;
    float: left;
    color:#8c8b8b;
    text-align: center;
}
.am-nav-pulldown .am-g-fixed .am-u-sm-3{
    color: #636262
}

.am-contert-list{
    background: #fff;
    margin: 1rem 0;
    padding: 1rem 0;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.am-contert-list a{
    color: #8c8b8b;
}

.am-position-fixed{
    position: fixed !important;
    top: 2px !important;
    right: 5px;
}
.am-seeking-input label,.am-seeking-input input{
    font-size: 1.2rem;

}


/*商品详情*/

.am-supply-title{
padding-left: 1.6rem;
}
.am-bottom-mian{
    position: fixed;
    bottom: 0;
    background: #fff;
     -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}



/*个人中心*/
.am-btn-ellipsis{
    background: #fff !important;
    color: #0e90d2 !important;
}

<<<<<<< HEAD
.am-usercenter-border{
    border-color:#0e90d2 !important;
}

/*个人信息*/
.am-upersonal-height{
    padding: .8rem 0;
}

/*我的订单*/
.am-order-border{
    background: url(../images/userorder-border-icon.png) center center no-repeat;
    background-size:100%;
}
.am-locatremind{
background: url(../images/locatremind-icon.png) top center no-repeat;
background-size: 80%;
height: 6rem;
line-height: 6rem;
}

/*物流详情*/
.am-logistics-info-ellipse{
      display: inline-block;
  padding: .8rem 2.5rem;
  background: url(../images/localorange-box-icon.png) left center no-repeat;
  background-size: 100%;
}
.am-logistics-info-ellipse2{
      display: inline-block;
  padding: .8rem 2.5rem;
  background: url(../images/localorange-box2-icon.png) left center no-repeat;
  background-size: 100%;
}
.am-logistics-info-padding{
    padding: .8rem 2rem;
}
.am-logistics-info-chevron-left{
    color: #ff9900;
}
.am-logistics-line{
    background: url(../images/localorange-line-icon.png) center center no-repeat;
    background-size: 100%;
}





/*登录注册*/
.logo{
    width: 70%;
    height: 50%;
    position: relative;
    left: 15%;
    margin-top: 5%;
    display: block;
}
.logo img{
    width: 80%;
    height: auto;
}
.login{
    width: 80%;
    height: auto;
    display: block;
    position: relative;
    left: 15%;
    margin-top: 10%;
    overflow: hidden;
}
.login input {
    width: 90%;
    height: 4.6rem;
    display: block;
    margin-bottom: 5%;
    border: 1px solid #4998f4;
    border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    padding-left: 15%;
}
.usename{
    background: url(../images/usename-icon.png) 5% no-repeat;
    -moz-background-size: 2.5rem 2.5rem;
    background-size: 2.5rem 2.5rem;
}
.keyword{
    background: url(../images/keyword-icon.png) 5% no-repeat;
    -moz-background-size: 2.5rem 2.5rem;
    background-size: 2.5rem 2.5rem;
}
.logclick{
    width: 90%;
    height: 4%;
    margin-bottom: 0.5%;
}
.third-party{
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 5%;
    text-text-align: center;
}
.third-head{
    display: inline-block;
    position: relative;
    width: 90%;
    left: 5%;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
    background: #f3f3f3;
    padding-bottom: 2%;
    border-bottom: 1px solid #8c8b8b;
}
.third-icon{
    display: block;
    position: relative;
    margin-top: 5%;
    width: 80%;
    height: 6rem;
}
.third {
    width: 33%;
    height: 8rem;
    display: inline-block;
    background-size: 80% 80%;
    -moz-background-size: 80% 80%;
    text-text-align: center;
}
.tencent{
    background: url(../images/tencent-icon.png) center no-repeat;
}
.sina{
    background: url(../images/sina-icon.png) center no-repeat;
}
.wechat{
    background: url(../images/wechat-icon.png) center no-repeat;
}
.log-foot{
    width: 80%;
    height: 100%;
    position: relative;
    margin-top: 15%;
    display: block;
}
.log-foot a{
    display: block;
    width: 40%;
    font-size: 1.4rem;
    line-height: 3.2rem;
    color: #8c8b8b;
    margin-top: 2%;
}
.log-foot button{
    border: none;
    background: url(../images/cancel-icon_180.gif) center no-repeat;
    background-size: 5rem 5rem;
    width: 20%;
    height: 5rem;
}
.sign{
    width: 100%;
    height: auto;
    margin: 10% auto;
    overflow: hidden;
}
.signup{
    width: 70%;
    height: auto;
    overflow: hidden;
    position: relative;
    left: 20%;
}
.signup input{
    width: 80%;
    height: 4.6rem;
    margin-bottom: 8%;
    border: 1px solid #4998f4;
    border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    padding-left: 20%;
}
.signup button{
    width: 80%;
    height: 4.6rem;
}
.signup select{
    width: 80%;
    height: 4.6rem;
    margin-bottom: 8%;
    border: 1px solid #4998f4;
    border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    padding-left: 20%;
}
.signup a{
    display: block;
    width: 70%;
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
}
.phonenumber{
    background: url(../images/phone-icon.png) 5% no-repeat;
    -moz-background-size: 2.5rem 2.5rem;
    background-size: 2.5rem 2.5rem;
}
.test{
    width: 70%;
    height: 4.6rem;
    position: relative;
    left: 20%;
    margin-bottom: 4rem;
    display: block;
    overflow: hidden;
}
.test input{
    width: 30%;
    height: 4.6rem;
    float: left;
    margin-right: 5%;
    margin-bottom: 20%;
    border: 1px solid #4998f4;
    border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    padding-left: 1%;
}
.test button{
    width: 45%;
    height: 4.6rem;
    float: left;
}
.company{
    background: url(../images/copany-icon.png) 5% no-repeat;
    -moz-background-size: 2.5rem 2.5rem;
    background-size: 2.5rem 2.5rem;
}
.address{
    background: url(../images/address-icon.png) 5% no-repeat;
    -moz-background-size: 2.5rem 2.5rem;
    background-size: 2.5rem 2.5rem;
}
.aptitude{
    background: url(../images/aptitude-icon.png) 5% no-repeat;
    -moz-background-size: 2.5rem 2.5rem;
    background-size: 2.5rem 2.5rem;
}
.agreement{
    width: 96%;
    height: 4.6rem;
    margin-bottom: 5%;
    display: block;
}
.agreement input{
    width: 2rem;
    height: 2rem;
    float: left;
}
.agreement label{
    font-size: 1.4rem;
    color: #8c8b8b;
    margin-left: 1rem;
}
